page-indiv-scedule {

 .toolbar-background{
    background-color: white;
    color: rgba(66, 66, 66, 0.74);
}
.toolbar-title{
    color: $color-font;
}
.titlename{
    text-align: center;
   
   
}
    
.icon{
    color: $color-sky;
}    
}